In [1]:
import pandas as pd
import numpy as np
from dateimte import datetime
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv ('lax_temperature.csv')
df.head()

       STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0  72295023174  2019-01-01T00:49:00       FM-16                        52
1  72295023174  2019-01-01T00:53:00       FM-15                        51
2  72295023174  2019-01-01T01:53:00       FM-15                        52
3  72295023174  2019-01-01T02:53:00       FM-15                        49
4  72295023174  2019-01-01T03:53:00       FM-15                        43